# Config file for automatic testing at travis-ci.org

language: python

python: 2.7

env:
  - TOX_ENV=py27
  - TOX_ENV=py32
  - TOX_ENV=py33
  - TOX_ENV=py34
  - TOX_ENV=pep8

install:
  - pip install -r requirements.txt
  - pip install tox

script:
  - tox -e $TOX_ENV

branches:
  only:
    - master
    - /^release.*$/